* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 600%;
  max-width: 1000px;
  min-height: 600px;
  background: #fff;
  display: grid;
  grid-template-columns: 6fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.left_side {
  background: #003147;
  padding: 40px;
  color: white;
  margin-bottom: 0px;
}

.right_side {
  background: #fff;
  padding: 40px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  align-items: center;
}

.profile-row {
  display: flex;
  align-items: center;       
  gap: 20px;               
  margin-bottom: 20px;
}



